.subscribe{
    margin: 150px 0;
    background-color: #333;
}

.subscribe__items{
    padding: 72px;
    align-items: center;
    color: #FFFFFF;
}

.subscribe__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-right: 60px;
}

.subscribe__input{
    padding: 13px 20px;
    background-color: #F9F6F1;
    margin-right: 35px;
}

.subscribe__input::placeholder{
    color: #8D8D8D;
}

.subscribe__btn{
    background-color: #D7B399;
    padding: 12px 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
}